section.info.user-account__info
    div.avatar.info__avatar
        img.img__avatar(src='./img/Example.jpg')
    ul.info__menu
        li.info-menu__item
            a.info-menu__item_style(href='#') 
                img(src='./img/heart.png')
                span.info-menu__item-text Love
        li.info-menu__item
            a.info-menu__item_style(href='#') 
                img(src='./img/lightning-bolt-shadow.png')
                span.info-menu__item-text Flash
        li.info-menu__item
            a.info-menu__item_style(href='#') 
                img(src='./img/thumbs-up.png')
                span.info-menu__item-text Like
        li.info-menu__item
            a.info-menu__item_style(href='#') 
                img(src='./img/chat.png')
                span.info-menu__item-text Chat
        li.info-menu__item
            a.info-menu__item_style(href='#')
                img(src='./img/gallery.png')
                span.info-menu__item-text Galleries