div.tags.layout__tags
    a.tags__item(href='#') 
        span.tags__item_xs software
    a.tags__item(href='#') 
        span.tags__item_xs statistics
    a.tags__item(href='#') 
        span.tags__item_m teaching
    br
    a.tags__item(href='#') 
        span.tags__item_m.tags__item_active technology
    a.tags__item(href='#') 
        span.tags__item_s tips
    a.tags__item(href='#') 
        span.tags__item_xs tool
    br
    a.tags__item(href='#') 
        span.tags__item_xxl tools
    a.tags__item(href='#') 
        span.tags__item_xl toread
    a.tags__item(href='#') 
        span.tags__item_xxl travel
    br
    a.tags__item(href='#') 
        span.tags__item_xs tutorial
    a.tags__item(href='#') 
        span.tags__item_xxl tutorials
    a.tags__item(href='#') 
        span.tags__item_xl tv
    br
    a.tags__item(href='#') 
        span.tags__item_xxs twitter
    a.tags__item(href='#') 
        span.tags__item_xs typography
    a.tags__item(href='#') 
        span.tags__item_l ubuntu
    br
    a.tags__item(href='#') 
        span.tags__item_xxxl usability
    a.tags__item(href='#') 
        span.tags__item_xl video
    br
    a.tags__item(href='#') 
        span.tags__item_s videos
    a.tags__item(href='#') 
        span.tags__item_l visualization
    br
    a.tags__item(href='#') 
        span.tags__item_xxl web
    a.tags__item(href='#') 
        span.tags__item_xl web 2.0
    br
    a.tags__item(href='#') 
        span.tags__item_xl web design
    br
    a.tags__item(href='#') 
        span.tags__item_xxxl webdev
    a.tags__item(href='#') 
        span.tags__item_m wiki
    br
    a.tags__item(href='#') 
        span.tags__item_s windows
    a.tags__item(href='#') 
        span.tags__item_l wordpress
    a.tags__item(href='#') 
        span.tags__item_l work
    br
    a.tags__item(href='#') 
        span.tags__item_xs writing
    a.tags__item(href='#') 
        span.tags__item_l youtube