section.profile.user-account__profile 
    div.profile__text PROFILE
    ul.profile__menu
        li.profile-menu__item
            a.profile-menu__item_style(href='#')        
                img(src='./img/user.png')
                span.profile-menu__item-text Account
        li.profile-menu__item
            a.profile-menu__item_style(href='#') 
                img(src='./img/settings.png')
                span.profile-menu__item-text Config
        li.profile-menu__item
            a.profile-menu__item_style(href='#') 
                img(src='./img/sign-out-option.png')
                span.profile-menu__item-text Exit