nav.main-menu.layout__main-menu
    a.main-menu__item(href='#') 
        span.main-menu__text Some text
    a.main-menu__item(href='#') 
        span Some text
    a.main-menu__item(href='#') 
        span Some text
    a.main-menu__item(href='#') 
        span Some text
    a.main-menu__item(href='#') 
        span Some text
    a.main-menu__item(href='#') 
        span Some text